doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ChanChan
    if IN_DEV
      script(
        defer
        src="/react/umd/react.development.js"
      )
      script(
        defer
        src="/react-router-dom/umd/react-router-dom.js"
      )
      link(rel="stylesheet", href="/normalize.css/normalize.css")
    else
      script(
        defer
        crossorigin
        src='https://unpkg.com/react@17/umd/react.production.min.js'
      )
      script(
        defer
        crossorigin
        src='https://unpkg.com/react-dom@17/umd/react-dom.production.min.js'
      )
      script(
        defer
        src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js'
      )
      link(
        rel="stylesheet",
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      )
  body
    #root
